.image1 {
  z-index: 0;
}
.main-container {
  display: flex;
  justify-self: center;
  align-items: center;
  min-height: 100vh;
}
.first-div {
  background-color: #e28525;
  padding: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.second-div {
  background-color: #016972;
  padding: 20px;
}
.third-div {
  background-color: #00403f;
  padding: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.h1one {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.p1 {
  color: white;
}
.h1two {
  color: white;
}
.p2 {
  color: white;
}
.button {
  border: none;
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;
  background-color: white;
  border: white 2px solid;
  transition: 0, 3s;
}
.button:hover {
  background-color: transparent;
  color: white;
}
.h1-three {
  color: white;
}
.p3 {
  color: white;
}
body {
  margin-left: 100px;
  margin-right: 100px;
}
